
#bigBox {
	height: 1002px;
	width: 1002px;
	border: 2px solid white;
	position: absolute;
	left: 300px;
	bottom: 550px;
}
#littleBox {
	height: 802px;
	width: 802px;
	padding: 10%;
}
#littleBox h1 {
  color: #B6C625;
}
#littleBox p {
  color: #B6C625;
}
.box {
	height: 300px;
	width: 300px;
	border: solid 1px white;
	position: relative;
	left: 1420px;
}
#box1 {
bottom: 600px;
}
#box2 {
bottom: 550px;	
}
#box3 {
bottom: 500px;	
}
